div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 0 1.0rem 0 1.0rem;
    transition: height 300ms ease-out 0s;
    background-color: #4cb740;
    color: #fff;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 60px;
    line-height: 3.0em;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    padding: 0.75rem 0.45rem;
    font-weight: 100;
    text-transform: uppercase;
}

div.message:before {
    line-height: 0px;
    font-size: 15px;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
    text-transform: lowercase;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}